$font-family:(
    "main":"Raleway",
    "second":"Open Sans",
    "serif":"sans-serif"
);

$font-weights:(
    "normal":400,
    "bold":700
);

$fontSize:14px;

@mixin btn(){
        padding:15px 70px;
        border-radius:50px;
        border:none;
        background-image: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
        font-weight: map-get($font-weights,bold);
        font-family:map-get($font-family,main);
        margin-bottom:60px;
        cursor:pointer;
        outline:none;
}

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:map-get($font-family,second);
    color:hsl(0, 0%, 100%);
}